@media (max-width:1024px) {
    body {
        font-family: Arial, sans-serif;
        background-color: rgba(0, 72, 255, 0.77);
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
    }

    .subheader {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .subheader .logo {
        display: flex; /* Para alinear el logotipo a la izquierda */
        align-items: center;
    }

    .subheader .logo img {
        max-width: 30px;
        height: auto;
    }

    .subheader nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .subheader nav li {
        display: inline;
        margin-right: 20px;
    }

    .subheader nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .header {
        background-color: goldenrod;
        text-align: center;
        color:rgb(133, 133, 133);
        padding: 20px;
    }

    .section {
        text-align: center;
        margin: 20px;
        background-color: gold;
    }

    #seccion1 .logo {
        justify-content: center; /* Alinea el logotipo a la derecha de la sección */
        align-items: center;
        display: flex; /* Asegura que los elementos sigan siendo flexibles */
        margin-right: 0;
    }
    

    #seccion1 .logo img {
        max-width: 50px;
        height: auto;
    }
    #seccion1 .logo img {
        max-width: 100px;
        height: auto;
    }

    #seccion1 .image_box img {
        max-width: 500px;
        height: auto;
    }

    #seccion2 {
        /* Alinea los elementos de manera vertical y los centra */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #seccion2 img {
        /* Establece un ancho máximo para las imágenes */
        max-width: 100%;
        height: auto;
    }    

    .footer {
        background-color: #1c1c1c;
        text-align: center;
        color: white;
        padding: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    form {
        text-align: center;
        align-items: center;
    }
}

@media (min-width:1025px){


    body {
        font-family: Arial, sans-serif;
        background-color: rgba(0, 72, 255, 0.77);
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        height: 700px;
    }

    .subheader {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .subheader .logo {
        display: flex; /* Para alinear el logotipo a la izquierda */
        align-items: center;
    }

    .subheader .logo img {
        max-width: 30px;
        height: auto;
    }

    .subheader nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .subheader nav li {
        display: inline;
        margin-right: 20px;
    }

    .subheader nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .header {
        background-color: goldenrod;
        text-align: center;
        color:rgb(133, 133, 133);
        padding: 20px;
    }

    .section {
        text-align: center;
        margin: 20px;
        background-color: gold;
    }
    .section> .image_box img{
        height: 10px;
    }

    #seccion1 .logo {
        justify-content: center; /* Alinea el logotipo a la derecha de la sección */
        align-items: center;
        display: flex; /* Asegura que los elementos sigan siendo flexibles */
        margin-right: 0;
    }
    

    #seccion1 .logo img {
        max-width: 50px;
        height: auto;
    }

    #seccion2 .image_box img{
        max-width: 100px;
        height: auto;
    }

    .footer {
        background-color: #1c1c1c;
        text-align: center;
        color: white;
        padding: 10px; /* Reduce el padding para hacer el footer más pequeño */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    form {
        display: flex; /* Para que los elementos del formulario estén en línea */
        justify-content: space-between; /* Distribuir los elementos de izquierda a derecha */
        padding: 10px; /* Agrega un poco de espaciado entre los elementos del formulario */
    }
    
    form label,
    form input {
        margin: 5px; /* Espaciado entre etiquetas y campos de entrada */
    }
    
}
